<div class="text-center">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
    <%= render template: "sessions/_new_form" %>
    <p class="mt-5 mb-3 text-muted">Memories © <%= Time.current.year %></p>
  </div>
</div>
