// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #f7f7f7;
}

.wall {

  h1 {
    margin: 30px 0 80px 0;
  }

  .post {
    margin: 20px 0 50px;
    position: relative;

    .post-excerpt {


      &:before, &:after {
        content: '"';
      }
    }

    .meta-info {
      padding: 10px 0;
      margin: 0 auto;
      display: block;
    }
  }


}

.page-post {

  .post--content {
    font-size: 1.2em;

    p:first-line {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
      font-size: 2em;
    }

    p + p:first-line {
      font-family: sans-serif;
      font-size: 1em;
    }
  }

}

#weather {
  img {
    display: inline-block;
    vertical-align: bottom;
  }

  p {
    display: inline-block;
  }
}

.location-weather, .lat-lon {

  &.is-active {
    display: block;
  }
}